In [1]:
import pandas as pd

In [2]:
new_df = pd.read_csv('data/ZIP-COUNTY-FIPS_2010-03.csv', encoding='UTF-8')
new_df

         ZIP         COUNTYNAME STATE  STCOUNTYFP CLASSFP
0      36003     Autauga County    AL        1001      H1
1      36006     Autauga County    AL        1001      H1
2      36008     Autauga County    AL        1001      H1
3      36022     Autauga County    AL        1001      H1
4      36051     Autauga County    AL        1001      H1
...      ...                ...   ...         ...     ...
46850    820   St. Croix Island    VI       78010      H4
46851    840   St. Croix Island    VI       78010      H4
46852    850   St. Croix Island    VI       78010      H4
46853    830    St. John Island    VI       78020      H4
46854    802  St. Thomas Island    VI       78030      H4

[46855 rows x 5 columns]

In [5]:
new_df = new_df.rename(columns={"ZIP": "Zip"})
new_df

         Zip         COUNTYNAME STATE  STCOUNTYFP CLASSFP
0      36003     Autauga County    AL        1001      H1
1      36006     Autauga County    AL        1001      H1
2      36008     Autauga County    AL        1001      H1
3      36022     Autauga County    AL        1001      H1
4      36051     Autauga County    AL        1001      H1
...      ...                ...   ...         ...     ...
46850    820   St. Croix Island    VI       78010      H4
46851    840   St. Croix Island    VI       78010      H4
46852    850   St. Croix Island    VI       78010      H4
46853    830    St. John Island    VI       78020      H4
46854    802  St. Thomas Island    VI       78030      H4

[46855 rows x 5 columns]

In [3]:
new_df1 = pd.read_csv('data/zip-lat-lng.csv', encoding='UTF-8')
new_df1

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,67553,Liebenthal,KS,38.654948,-99.320620,-6,1,"38.654948,-99.32062"
1,85743,Tucson,AZ,32.335122,-111.148880,-7,0,"32.335122,-111.14888"
2,75016,Irving,TX,32.767268,-96.777626,-6,1,"32.767268,-96.777626"
3,60401,Beecher,IL,41.350484,-87.624080,-6,1,"41.350484,-87.62408"
4,80432,Como,CO,39.243440,-105.794310,-7,1,"39.24344,-105.79431"
...,...,...,...,...,...,...,...,...
43186,88540,El Paso,TX,31.694842,-106.299987,-7,1,"31.694842,-106.299987"
43187,98345,Keyport,WA,47.702342,-122.625540,-8,1,"47.702342,-122.62554"
43188,99361,Waitsburg,WA,46.209202,-118.158840,-8,1,"46.209202,-118.15884"
43189,8821,Flagtown,NJ,40.518578,-74.685450,-5,1,"40.518578,-74.68545"
43190,4736,Caribou,ME,46.878869,-68.011280,-5,1,"46.878869,-68.01128"

In [8]:
new_df=new_df.merge(new_df1, on='Zip', how='left')
new_df

,Zip,COUNTYNAME,STATE,STCOUNTYFP,CLASSFP,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,36003,Autauga County,AL,1001,H1,Autaugaville,AL,32.439967,-86.688010,-6.0,1.0,"32.439967,-86.68801"
1,36006,Autauga County,AL,1001,H1,Billingsley,AL,32.652790,-86.714300,-6.0,1.0,"32.65279,-86.7143"
2,36008,Autauga County,AL,1001,H1,Booth,AL,32.501649,-86.572711,-6.0,1.0,"32.501649,-86.572711"
3,36022,Autauga County,AL,1001,H1,Deatsville,AL,32.612619,-86.394970,-6.0,1.0,"32.612619,-86.39497"
4,36051,Autauga County,AL,1001,H1,Marbury,AL,32.682598,-86.474510,-6.0,1.0,"32.682598,-86.47451"
...,...,...,...,...,...,...,...,...,...,...,...,...
46850,820,St. Croix Island,VI,78010,H4,Christiansted,VI,17.734211,-64.734694,-4.0,0.0,"17.734211,-64.734694"
46851,840,St. Croix Island,VI,78010,H4,Frederiksted,VI,17.734211,-64.734694,-4.0,0.0,"17.734211,-64.734694"
46852,850,St. Croix Island,VI,78010,H4,Kingshill,VI,17.734211,-64.734694,-4.0,0.0,"17.734211,-64.734694"
46853,830,St. John Island,VI,78020,H4,St John,VI,18.328160,-64.740737,-4.0,0.0,"18.32816,-64.740737"
46854,802,St. Thomas Island,VI,78030,H4,St Thomas,VI,18.322285,-64.963715,-4.0,0.0,"18.322285,-64.963715"

In [9]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46855 entries, 0 to 46854
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Zip                         46855 non-null  int64
 1   COUNTYNAME                  46855 non-null  object
 2   STATE                       46855 non-null  object
 3   STCOUNTYFP                  46855 non-null  int64
 4   CLASSFP                     46855 non-null  object
 5   City                        46517 non-null  object
 6   State                       46517 non-null  object
 7   Latitude                    46517 non-null  float64
 8   Longitude                   46517 non-null  float64
 9   Timezone                    46517 non-null  float64
 10  Daylight savings time flag  46517 non-null  float64
 11  geopoint                    46517 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 4.6+ MB

In [11]:
new_df.to_csv('data/newcoi.csv', index = False, encoding = 'UTF-8')